.container {
  max-width: 1200px;
}

.card-title {
  max-width: 100%;
}
.card {
  height: 100%; /* Set a fixed height for all cards */
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 218, 231);
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 140px auto;
  margin-top: 200px;
  max-width: 1450px; /* Adjust this value according to your design */
}

.pp {
  justify-content: center;
  background-color: #1d193d;
  /* max-height: 100%; */
  height: 750px;
  display: flex;
  align-items: center;
}

.laq {
  font-weight: bold;
}

.carrier-page {
  background:#851a1a;
  /* width: 2000px; */
}

.carr{
  background-color: #1d193d;
  height: 800px;
}

.img-fluid {
  padding-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
  .laq{
    font-weight: bold;
  }


.body2{background: #1d193d; height: 745px;}.form-control:focus{box-shadow: none;border-color: #1d193d}.profile-button{background:#1d193d;box-shadow: none;border: none}.profile-button:hover{background: #1d193d}.profile-button:focus{background: #1d193d;box-shadow: none}.profile-button:active{background: #1d193d;box-shadow: none}.back:hover{color: #1d193d;cursor: pointer}.labels{font-size: 11px}.add-experience:hover{background: #1d193d;color: #fff;cursor: pointer;border: solid 1px #b7b4ca}


.abcd{
    display: flex;
}
.khuban{
    margin-left: 1vw;
}


.redux .textarea{
  border: 2px solid #676666;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  color:'black';
  color: #3d3d3d;
  height:'150px'
}

.contact{
    background-image: url('./images/c.png');
     height: 775px;
     background-size: 1550px 900px;
     background-repeat: no-repeat;
     padding: 50px 0px 20px 0px;
     margin-top: 2px;
}

.redux .label {
  color: #3d3d3d;
  display: block;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}

.cont2{
  margin-top:120px;
  margin-left:550px;
  background-color: #000000;
  opacity: 0.5;
  width: 500px;
  height:430px;
  border:2px solid black;
}

/*course page */

.c1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color); 
  justify-content: center;
  background-color: #ffffff;
  /* height: 800px; */
  margin-bottom: 40px;
  margin-top: 0px;
}
.c2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  color: var(--text-color); 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: -80px;
}

.Resume {
  border: 1px solid var(--border-color);
  padding: 10px;
  margin: 2.5%; /* Adjust margin for even spacing between columns */
  width: calc(25% - 20px); ; 
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* text-align: center; */
  align-items: center; /* Center items horizontally */
  justify-content: space-between; /* Distribute items evenly vertically */
  padding-bottom: 20px; /* Add some space between the name and the bottom edge */
  position: relative;
}
.zehra{
  margin-left: 14vw;
}

.course {
  border: 1px solid var(--border-color);
  padding: 10px;
  margin: 2.5%; /* Adjust margin for even spacing between columns */
  width: calc(25% - 20px); ; 
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  margin-top: 15px;
 
}

.Resume h6 {
  margin: 0; /* Reset margin for the h6 element */
  color: 'black'; /* Adjust the color to your preference */
  position: absolute; /* Position the h6 element within the parent container */
  bottom: 0; /* Align at the bottom */
  left: 50%; /* Align at the center horizontally */
  transform: translateX(-50%); /* Center the element horizontally */
  font-weight: bold;
}

.course img {
  max-width: 80%;
  height: auto;
  padding: 0px; /* Optional padding to create space between the image and the border */
  margin-left: 30px;
  border: 4px solid ;
}

.course h5 {
  margin-top: 10px;
  max-height: 3em; /* Adjust the number of lines as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course p {
  margin-bottom: 10px;
  max-height: 3em; /* Adjust the number of lines as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ratings {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-right: 20px;
  float: left; /* Float the ratings to the left */
  margin-right: 50px;
}

.course button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 2px solid var(--border-color);
  padding: 7px 7px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
 
}
.favorite-button{
  color: yellow;
}

.course button:hover {
  background-color: var(--background-color);
  color: var(--button-bg-color);
}

.heart{
  position: relative;
  top: -40px; /* Adjust the value as needed */
  left: 100px;
  background: none;
  border: none;
  color:rgb(238, 211, 58);
  padding-left: 500px;
  cursor: pointer;
  padding: 0;
  size: 200px;
}

.cp{
  color: rgb(216, 24, 24);
  padding: -10px;
  margin-bottom: 10px;
  margin-top: -10px;
}


.course.button{
  background-color: #000000;
  color: #000000;
  position: relative; /* Set the button position to relative */
  left: 250px; /* Adjust the left offset as needed */
  bottom: 0; 
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.ch5{
  font-weight: bolder;
  margin-top: 10px;
}

.c1h{
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  width: 5000px;
  color: rgb(94, 82, 78);
    font-size: 2.5rem;
    color: #333; /* Change the color to your preference */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 50px;
    margin-top: 50px; /* Decreased margin-top here */
  margin-bottom: 40px; /* Adjust margin-bottom as needed */

}



.rating {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 5px;
}

.stars {
  font-size: 1.5rem;
  color: #ff9800; /* Change the color to match your design */
}

.light {
  --border-color: #000000; /* Change to your light border color */
  --background-color: #e0e0e6; /* Change to your light background color */
  --button-bg-color: #000000; /* Change to your light button background color */
  --button-text-color: #ffffff; /* Change to your light button text color */
  --image-border-color: #000; /* Change to your light image border color */
  background-color: #fbf9f9;
  color: #000000;
  --text-color: #000000; 
}

.dark {
  --border-color: #ffffff; /* Change to your dark border color */
  --background-color: #bcb9b9; /* Change to your dark background color */
  --button-bg-color: #ffffff; /* Change to your dark button background color */
  --button-text-color: #000000; /* Change to your dark button text color */
  --image-border-color: #fff; /* Change to your dark image border color */
  background-color: #000000;
  color: #fbf9f9;
  --text-color: #ffffff; 
  
}

.dark p a {
  color: white; /* Change the link color to white */
}

.dark row a {
  color: white; /* Change the link color to white */
}

.light button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 2px solid var(--border-color);
  padding: 7px 7px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;  
}

.light button:hover {
  background-color: var(--background-color);
  color: var(--button-bg-color);
}

.dark button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 2px solid var(--border-color);
  padding: 7px 7px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dark button:hover {
  background-color: var(--background-color);
  color: var(--button-bg-color);
}

.c1.light {
  color: var(--text-color); /* Set the text color for c1 in the light theme */
}

.c1.dark {
  color: var(--text-color); /* Set the text color for c1 in the dark theme */
}

.c2.light {
  color: var(--text-color); /* Set the text color for c2 in the light theme */
}

.c2.dark {
  color: var(--text-color); /* Set the text color for c2 in the dark theme */
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap value as needed */
}

.custom-heading {
  display: block;
  text-decoration: none;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.custom-heading:hover {
  background-color: #ddd;
}

.UploadForm{
  margin-top: 100px;
}

.UploadForm h2{
  display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
}

.UploadForm input{
  display: block;
  margin-bottom: 10px;
  margin-left: 100px;
}

.UploadForm button{
  background-color: #1d193d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 30px;
}

.UploadedVideos{
  margin-top: -150px;
  margin-left: 100px;
  text-align: center;
}

.UploadedVideos h2{
  display: block;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.UploadedVideos ul{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.UploadedVideos li{
  width: calc(33.33% - 100px);
      margin: 10px;
      box-sizing: border-box;
}

.UploadedVideos video{
  width: 100%;
        max-width: 100%;
        height: auto;
}



@media (max-width: 768px) {
  /* Adjust margins and positioning for smaller screens */
  .Resume h6 {
    margin-top: 300px;
    left: 30%; /* Adjust as needed */
  }
}



/* Error Page*/
.errimg{
  width:19rem;
}

.errtext h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 6.8rem;
}

.errbtn{
  border-radius: 10px;
  margin:1rem 0;
  transition: background-color 0.6s,color 0.6s;
}

.errbtn:hover{
  background-color: white;
  color:#24285B;
}

/* course Details Page*/

.course-detail{
  font-family: 'Poppins', sans-serif;
}

.course-header,.course-sidebar,.course-curriculam,.course-description,.course-instructor,.course-reviews{
  background-color: #f0f0f0;
  padding: 2rem;
}

.course-header h2{
  font-size: 30px;
  margin:0 0 15px;
  font-weight: 600;
}

.course-header .average-rating{
  font-weight: 600;
  color: orange;
}

.course-header .average-stars i{
  font-size: 14px;
  color: orange;
}

.course-header .courserating span{
  vertical-align: middle;
}

.course-header ul li{
  margin: 6px 0 0;
  list-style: none;
}

.course-header ul li span{
  margin-left: 5px;
}

.course-tabs{
  margin: 30px 0 20px;
}

.course-tabs button{
  background-color: #b4b8e2;
}

.course-tabs .nav-link{
  margin: 0 10px 10px 0;
}

.course-curriculam h4{
  font-weight:600;
}

.accordion{
  width: 1000px;
}
.accordion button{
  border: 1px solid rgb(120, 120, 120);
  font-weight: 400;
  font-size: 1.2rem;
 padding: 30px;
 text-align: left;
}


.course-curriculam .accordion-item{
   border-color: transparent;
   background-color: transparent;
   width: 50%;

   font-size: 100px;
   
}

.course-curriculam .accordion-button{
  background-color: transparent;
  color: black;
  font-weight: 300;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 160px;
  line-height: 1.5;
}

.course-curriculam .accordion-button:focus{
  box-shadow: none;
}

.course-curriculam .accordion-button:not(.collapsed) span{
  font-weight: 500;
}

.course-curriculam .accordion-button:not(.collapsed)::after{
  transform: translateY(-50%) rotate(-180deg);
}

.course-curriculam .accordion-button:not(.collapsed){
  font-weight: 600;
  border-bottom: 1px solid #d9dae4;
  transition: none;
  box-shadow: none;
}

.course-curriculam .accordion-button::after{
  content: "\f077";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  background-image: none;
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: auto;
  line-height: 1;
}

.course-curriculam .accordion-button span{
  position: absolute;
  right: 17px;
  font-size: 14px;
}

.course-curriculam ul li{
  position: relative;
  padding: 0 50px 0 20px;
  list-style: none;
  margin-bottom: 15px;
}

.course-curriculam ul li span{
  position: absolute;
  font-size: 14px;
  right: 0;
  top: 0;
}

.course-curriculam ul li i{
  margin-right: 0.7rem;
  position: absolute;
  left: 0;
  top: 6px;
  color: rgb(32, 31, 31);
  font-size: 12px;
}

.course-description h3,h4{
  font-weight: 600;
}

.course-description h4{
  font-size: 16px;
}

.course-instructor h3{
  font-size: 1.75rem;
  font-weight: 600;
}

.course-instructor .img-box img{
  max-width: 128px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.course-instructor h4{
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.course-instructor h4 span{
  font-weight: 300;
}

.course-instructor ul li i{
  margin-right: 0.7rem;
  color: rgb(32, 31, 31);
}

.course-instructor ul li:not(:last-child){
  margin-bottom: 5px;
}

.rating-summary .average-rating{
  font-size: 40px;
  font-weight: 700;
  color: rgb(38, 41, 41);
}

.rating-summary .average-stars i{
  color: orange;
}

.rating-summary .rating-bars-item{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.course-reviews h3{
  font-size: 1.75rem;
  font-weight: 600;
}

.reviews-filter h3{
  margin-top: 1.5rem;
}

.review-btn{
  background-color: #8a90e7;
}

.rating-summary .progress{
  height: 8px;
  background-color: rgb(219, 217, 216);
  width: calc(100% - 120px);
  margin-right: 20px;
  border-radius: 0;
}

.rating-summary .progress-bar{
  background-color: orange;
}

.rating-summary .star-text{
  min-width: 60px;
  /* color: orange; */
}

.rating-bars .fivestar{
  width: 55%;
}

.rating-bars .fourstar{
  width: 25%;
}

.rating-bars .threestar{
  width: 10%;
}

.rating-bars .twostar{
  width: 8%;
}

.rating-bars .onestar{
  width: 2%;
}

.reviews-item{
  position: relative;
  margin-bottom: 30px;
  padding-left: 65px;
}

.reviews-item .img-box img{
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.reviews-filter{
  margin: 0 0 35px;
  width: 200px;
}

.form-group{
  margin-bottom: 25px;
  position: relative;
}

.form-control{
  height: 48px;
  border-color: #121643;
  color: rgb(38, 41, 41);
  background-color: transparent;
}

.form-control:focus{
  background-color: transparent;
  border-color: #121643;
  color: rgb(38, 41, 41);
  box-shadow: none;
}

.select-icon{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.9rem;
}

select.form-control:focus option{
  background-color: #f0f0f0;
}

.reviews-item h4{
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 5px;
  /* color:black; */
}

.reviews-item .stars-rating i{
  color: orange;
  font-size: 14px;
}

.reviews-item .stars-rating .date{
  margin-left: 0.8rem;
  font-size: 14px;
  display: inline-block;
}

.course-sidebar .img-box{
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.course-sidebar .img-box::before{
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color:var(--black-alpha-40); */
}

.course-sidebar .play-icon{
  position: absolute;
  height: 50px;
  width: 50px;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: blanchedalmond;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius: 50%;
  color: orange;
}

.course-sidebar .img-box p{
  position: absolute;
  color: white;
  top: calc(50% + 40px);
  font-weight: 500;
  width: 100%;
}

.course-sidebar .price span{
  margin-right: 8px;
}

.course-sidebar .price-old{
  text-decoration: line-through;
}

.course-sidebar .price-new{
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.course-sidebar .price-discount{
  color: rgb(255, 166, 0);
}

.course-sidebar h3{
  font-weight: 600;
}

.course-sidebar .features-list li{
  position: relative;
  padding-left: 21px;
  list-style: none;
  margin-bottom: 8px;
}

.course-sidebar .features-list li::before{
  content: '';
  height: 6px;
  width: 6px;
  background-color: #666779;
  position: absolute;
  left: 0;
  top: 9px;
  border-radius: 50%;
}

.btn-block{
  width: 100%;
}

.media-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media-button-box{
  width: 100px;
}